[submodule "src/cartographer"]
	path = src/cartographer
	url = https://github.com/googlecartographer/cartographer.git
[submodule "src/cartographer_ros"]
	path = src/cartographer_ros
	url = https://github.com/googlecartographer/cartographer_ros.git
[submodule "src/ceres-solver"]
	path = src/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "src/ursa_navigation/navigation"]
	path = src/ursa_navigation/navigation
	url = git@github.com:ursa-drone/navigation.git
[submodule "src/mavlink"]
        path = src/mavlink
        url = https://github.com/mavlink/mavlink.git
[submodule "src/mavros"]
        path = src/mavros
        url = https://github.com/mavlink/mavros.git


