<!--
  Copyright 2017 LAOSAAC

  Launch file for SITL simulation of URSA
-->

<launch>
  <param name="/use_sim_time" value="true" />

  <param name="robot_description"
    textfile="$(find ursa)/urdf/ursa.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="ursa_node" pkg="ursa" type="pose.py" output="screen" required="true"/>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find ursa)/config
          -configuration_basename ursa_sim.lua"
      output="screen">
    <remap from="scan" to="/laser/scan" />
    <remap from="imu" to="/mavros/imu/data" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find ursa)/config/simulation.rviz" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find ursa)/config/planner/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find ursa)/config/planner/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find ursa)/config/planner/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/base_global_planner_params.yaml" command="load" />
    </node>
</launch>
