<!-- Copyright 2017 - LAOSAAC -->

<launch>
    <!-- Command line arguments -->

    <!-- Launch robot description file and publisher -->
    <param name="robot_description" textfile="$(find ursa)/urdf/ursa.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Launch MAVROS -->
    <include file="$(find ursa)/launch/mavros.launch" />

    <!-- Set the altitude of drone -->
    <node name="height_publisher" pkg="ursa" type="height_publisher.py" respawn="true" />

    <!-- Setup urg_node -->
    <machine name="drone" address="10.42.0.2" user="pi" env-loader="~/ursa_ws/devel/env.sh"/>
    <node machine="drone" name="urg_node" pkg="urg_node" type="urg_node" respawn="true" />

    <!-- Replace nan data with MAX_RANGE + 1 -->
    <node name="scan_flitered_nans" pkg="laser_scanner_modifier" type="scan_filtered_nans.py" respawn="true" />

    <!-- Start cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros"
          type="cartographer_node" args="
          -configuration_directory $(find ursa)/config
          -configuration_basename cartographer_config.lua">
          <remap from='scan' to='scan_filtered_nans'/>
          <remap from='imu' to='/mavros/imu/data'/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>

