<launch>
    <!-- Start laser scanner on drone -->
    <machine name="drone" address="10.42.0.2" user="pi" env-loader="~/ursa_ws/devel/env.sh"/>
    <node machine="drone" name="urg_node" pkg="urg_node" type="urg_node" respawn="true" />

    <!-- Echo scan data -->
    <node name="echo_scans" pkg="rostopic" type="rostopic" args="echo \scan" respawn="true" />

    <!-- Load robot description file to paramter server -->
    <!-- <param name="robot_description" textfile="$(find ursa)/urdf/robot_description.urdf" /> -->

    <!-- Use robot description to publish /tf node -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

</launch>